<a href="/Auth/DangXuat" class="nav-link text-white txtMenuHeader text-center" title="Đăng xuất" style="position:relative;">
    <span style="font-size:24px"><i class="fa fa-user" style="font-size: 30px;"></i></span>
    <div id="Username">
        <span>
            @ViewBag.UserName
        </span>
    </div>
</a>

<style>
</style>